body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    
}

/* h3 {
    display: block;
} */

a {
    text-transform: uppercase;
}

.navigation {
    width: 400px;
    margin-left: auto;
    margin-right: 0px;
}
.header {
    text-transform: uppercase;
    height: 100px;
    color: white;


    background-image: url("../images/banner-bg.jpg");
    background-size: cover;

}

.trends {
    /* width: 1000px; */
    border: 5px solid black;
    /* border-style: solid;
    border-color: black; */
    /* display: flex; */

}
.trends-container {
    display: flex;
    
}
.trend-article {
    /* display: block; */
    width: 20%;
    height: 150px;
    background: lightblue;
    margin: auto;
    display: inline-block;
    margin: 20px;
    background-size: cover;
    border: 3px solid red ;

}

.tag {
    color: darkkhaki;
}

.trend-title {
    color: yellow;
}


.content {
    display: flex;
}
.main-article {
    width: 600px;
    height: 200px;
    background: grey;
}

.products-container {
    display: flex;
}

.contacts {
    display: flex;
}