body {
    font-family: sans-serif;
    position: relative;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

h4 {
    text-transform: uppercase;
}

a {
    text-transform: uppercase ;
    color: inherit;
    text-decoration: none;
}

.article__img {
    width: 200px;
}

aside {
    width: 200px;
    margin: 0 auto;
    background-color: lightpink;
}

footer {
    background-color: bisque;

}
.navigation {

    width: 400px;
    margin-left: auto;
    /* margin-right: 0px; */
    margin-top: 20px;
}

/* .navigation__item {
    padding-top: 10px;
} */


.header {
    text-transform: uppercase;
    height: 100px;
    color: white;


    background-image: url("../images/banner-bg.jpg");
    background-size: cover;

}

.logo {
    width: 200px;
    top: 10px;
    left: 50px;
    position: absolute;
}

.navigation {
    margin-top: 10px;
    background-color: blue;

}

.line {
    border-bottom: 5px solid yellow;
    width: 80px;
    height: 5px;
    margin: 0 auto;


}

.trends__item {
    /* display: block; */
    width: 20%;
    height: 150px;
    background: lightblue;
    margin: auto;
    display: inline-block;
    margin: 20px;
    background-size: cover;
    /* padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%; */
    box-sizing: border-box;
    position: relative;

 


}

.trends__item__frame {
    border: 3px solid red ;
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
    padding: 15px;




}


.tag {
    color: darkkhaki;
}

.main__content {
    display: flex;
    margin: 0 auto;
    width: 60%;
    background-color: lightgoldenrodyellow;
}

.articles__item {
    /* width: 60%; */
    /* height: 200px; */
    /* background: grey; */
    display: flex;
    margin-bottom: 20px;
}

.autor {
    font-weight: 700;
}

.new-posts__item {
    display: flex;
    margin-bottom: 10px;
}

.new-posts_title {
    font-size: 16px;
}

.search {
    position: relative;
    /* height: 50px;
    text-align: center; */
}
.search__input {
    height: 26px;
    border: none;
}

.button-search {
    height: 26px;
    width: 26px;
    right: 0;
    position: absolute;
    background: #F15B42;
    cursor: pointer;

}


/* .tags_aside {
    display: flex;
} */

.tags-aside__item {
    text-transform: uppercase;
    border: 2px solid yellowgreen;
    margin: 5px;
    display: inline-block;
    padding: 10px;

}

.topics__item {
    font-size: 8px;
    width: inherit;
    /* height: 24px; */
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid yellowgreen;
}

.count {
    vertical-align: super;
    color: yellowgreen;
}

.products {
    width: 60%;
    margin: 0 auto;
    background-color: antiquewhite;
    /* position: relative;
    display: flex; */

}

/* .products-container {
    display: flex;
} */

.products__item {
    display: inline-block;
    width: 31%;
    position: relative;
    background-color: cadetblue;

}

.products__item__img{
    z-index: 1;
    position: relative;
    width: 100%;
}


.products__item__frame {
    border: 2px solid yellowgreen;
    z-index: 6;
    margin-top: -80px;
    position: relative;
}

.in-shop {
    display: flex;
}

.old-price {
    text-decoration: line-through;
    font-size: smaller;

}

    

.contacts {
    display: flex;
}

