/* body {
    color: brown;
} */

.header {
    color: lightgoldenrodyellow;
    height: 100px;

    background-image: url("../images/banner-bg.jpg");
    background-size: cover;

}

.trends-container {
    display: flex;
    
}
.trend-article {
    /* display: block; */
    width: 300px;
    height: 150px;
    background: lightblue;
    margin: auto;

}

/* .main {
    display: flex;
} */
.main-article {
    width: 600px;
    height: 200px;
    background: grey;
}